$page_width: 980px;
$padding: 0.4em;

$link_color: green;

// Navigation Styles
$nav_height: 2.5em;
$nav_hover_color: darkblue;
$nav_hover_text_color: white;
$dropdown_background_color: gray;
$dropdown_text_color: white;
$dropdown_hover_link_color: white;
$dropdown_hover_text_color: darkblue;

// Used for Templates only
$border: 1px solid black;
