/** CSS Reset **/
/* line 2, ../scss/base.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 21, ../scss/base.scss */
body {
  line-height: 1;
  font-family: Helvetica, Arial, sans-serif;
  background: lightgray;
}

/* line 26, ../scss/base.scss */
ol, ul {
  list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup */
/* line 30, ../scss/base.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
}

/* line 34, ../scss/base.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
}

/* line 38, ../scss/base.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}

/* line 42, ../scss/base.scss */
blockquote, q {
  quotes: "" "";
}

/** End CSS Reset **/
/** Clear group elements - supports back to ie6 **/
/* line 48, ../scss/base.scss */
.group:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}

/* line 55, ../scss/base.scss */
* html .group {
  zoom: 1;
}

/* IE6 */
/* line 56, ../scss/base.scss */
*:first-child + html .group {
  zoom: 1;
}

/* IE7 */
/* line 58, ../scss/base.scss */
header {
  width: 980px;
  margin: 0 auto;
  background: lightblue;
}

/* line 64, ../scss/base.scss */
.header-wrapper, .content-wrapper, .footer-wrapper {
  position: relative;
}

/* line 68, ../scss/base.scss */
.content-wrapper {
  width: 980px;
  margin: 0 auto;
  background: white;
  height: 5000px;
}

/* line 75, ../scss/base.scss */
.n-col.p25 {
  width: 25%;
}

/* line 79, ../scss/base.scss */
.n-col.p33 {
  width: 33.333333%;
}

/* line 83, ../scss/base.scss */
.n-col.p50 {
  width: 50%;
}

/* line 87, ../scss/base.scss */
.n-col.p66 {
  width: 66.666667%;
}

/* line 91, ../scss/base.scss */
.n-col.p75 {
  width: 75%;
}

/* line 95, ../scss/base.scss */
footer {
  width: 980px;
  margin: 0 auto;
}

/* line 100, ../scss/base.scss */
.right {
  float: right;
}

/* line 104, ../scss/base.scss */
.left {
  float: left;
}

/* line 108, ../scss/base.scss */
a {
  color: green;
  text-decoration: none;
}

/* line 113, ../scss/base.scss */
a:hover {
  text-decoration: underline;
}

/* line 1, ../scss/dropdowns.scss */
.nav-wrapper {
  border: 1px solid black;
}

/* line 9, ../scss/dropdowns.scss */
nav > div > ul li {
  display: inline;
  position: relative;
}
/* line 13, ../scss/dropdowns.scss */
nav > div > ul li a {
  display: inline-block;
  line-height: 2.5em;
  padding: 0 0.4em;
}

/* line 21, ../scss/dropdowns.scss */
nav > div > ul > li:hover > a {
  background: darkblue;
  color: white;
}

/* line 26, ../scss/dropdowns.scss */
nav > div > ul > li > ul {
  display: none;
  position: absolute;
  left: 0px;
  background: gray;
}
/* line 32, ../scss/dropdowns.scss */
nav > div > ul > li > ul > li {
  display: block;
}
/* line 35, ../scss/dropdowns.scss */
nav > div > ul > li > ul > li > a {
  color: white;
}
/* line 39, ../scss/dropdowns.scss */
nav > div > ul > li > ul > li:hover > a {
  background: white;
  color: darkblue;
}

/* line 46, ../scss/dropdowns.scss */
nav > div > ul > li:hover > ul {
  display: block;
}

/* line 1, ../scss/contact.scss */
.contact-form {
  width: 250px;
  background: orange;
  padding: 0.4em;
  right: calc(0px - ((980px - 100%) / 2));
  transition: 0.25s width ease-in-out;
}
/* line 9, ../scss/contact.scss */
.contact-form .show-form {
  position: absolute;
  display: block;
  transform: rotate(270deg);
  left: -64px;
  top: 50px;
  width: 100px;
  background: yellow;
  text-align: center;
  padding: 0.4em 0;
}
/* line 21, ../scss/contact.scss */
.contact-form label {
  display: block;
  font-size: 0.8em;
  padding: 0.2em;
  white-space: nowrap;
}
/* line 28, ../scss/contact.scss */
.contact-form input, .contact-form textarea {
  width: 98%;
  line-height: 1.5em;
  font-size: 0.8em;
}
/* line 33, ../scss/contact.scss */
.contact-form input[type=submit], .contact-form textarea[type=submit] {
  width: 100%;
  height: 1.5em;
}
/* line 39, ../scss/contact.scss */
.contact-form.fixed {
  position: fixed;
}
/* line 42, ../scss/contact.scss */
.contact-form.fixed.collapsed {
  width: 0px;
  padding: 0;
}
/* line 46, ../scss/contact.scss */
.contact-form.fixed.collapsed .contact {
  overflow: hidden;
}

/*# sourceMappingURL=main.css.map */
